html
	head
		meta(charset='utf-8')

		title An Introduction To Hypermedia APIs

		meta(name='author',content='Alex Robson')
		link(rel='stylesheet',href='/reveal/css/reset.css')
		link(rel='stylesheet',href='/reveal/css/main.css')
		link(rel='stylesheet',href='/reveal/css/print.css', type='text/css', media='print')
		link(rel='stylesheet',href='/reveal/lib/css/zenburn.css')
		script(src='/reveal/jquery.js')
		script(src='/socket.io/socket.io.js')
		script(src='/anvil/buildhook.js')

	body
		div.reveal
			div.state-background
			div.slides