				section
					section
						h1 Disclaimer
						h2.fragment If You've Read This Book
							br
							img(src="/images/hypermedia_book.jpg")
						br
						h3.fragment Then now is a good time for a nap
						p.fragment (that hawk is pretty rad)
					section
						h1 What is Hypermedia?
						h2 For the purpose of this talk it is:
						h3: ul
							li content which represents application state
							li operation-context driven metadata
							li descriptions of available interactions
							li used to control application flow 

						
					section
						h1 in other words:
						h2 hypermedia is more about how than what
					section
						h2 Gee, That's swell and all, but
						img(src='/images/someta.jpeg',style="height: 350px")