				section
					section
						h1 To The Demo!
					section
						h1 What The Demo Does Well
						h3
							ul
								li.fragment Shows how to drive dynamic hypermedia generation
								li.fragment Demonstrates how to control application flow
								li.fragment Highlights the potential of hypermedia
					section
						h1 Where The Demo Fails
						h3
							ul
								li.fragment Complex domains with nested resources
								li.fragment No provision for versioning or security
								li.fragment Demonstrate more efficient patterns
