				section
					section
						p Hypermedia Basics
						h2 Hypermedia Factors
						h3 (Just the basics)
						div
							dl
								dt LE
								dd Embedded - partial updates
								dt LO
								dd Outbound - navigation / new content
								dt LT
								dd Templated - links constructed from data
						br
						div
							p There are 6 others:
							p LN, LI, CR, CU, CM, CL
					section
						p Hypermedia Basics
						h2 Formats
						ul 
							li Not all formats are created equal.
							li Consider client needs
							li Weigh format capabilities
							li Determine compatible formats to support
							p Common Examples:
							ul
								li HTML
								li XML
								li JSON
					section
						p Hypermedia Basics
						h2 A Word About Formats
						h3 (don't use html)
						ul
							li HTML is the only format with native Hypermedia Factors
							li HTML puts render responsibility on the server
							li HTML only supports GET, HEAD and POST HTTP methods
							li HTML is probably far too limiting for most APIs
					section
						p Hypermedia Basics
						h2 Domain Styles
						h3 (how you model the data)
						dl
							dt Specific
							dd Elements of the domain are explicitly expressed in document
							dt General
							dd Elements of the domain use attributes to provide needed detail
							dt Agnostic
							dd Highly abstracted, bad for most use cases
					section
						p Hypermedia Basics
						h2 Application Flow
						h3 (how you define options)
						dl
							dt None?
							dd Common for read-only or small APIs
							dt Intrinsic
							dd Flow identifiers are defined in the hypermedia type itself
							dt Applied
							dd Type design contains allowances for decoration (i.e. HTML)
