				section
					h2 Hypermedia API Design Tips
					dl
						dt Point of View
						dd Define your API from the client's perspective
						dt Design the Media Type
						dd: ol
							li Select base format
							li List possible states
							li Identify state transitions
							li Choose domain style
							li Design application flow					