				section
					section
						h1 Questions?
					section
						h1 Additional Resources
						h3
							ul
								li 
									p John Moore's Oredev Hypermedia Talk

								li 
									p Steve Klabnik's Blog
								li 
									img(src="/images/hypermedia_book.jpg")
									br
									p Hypermedia APIs with HTML5 &amp; Node

					section
						h1 Thanks!