				section
					section
						h2 About Me
						ul
							li Polyglot Geek @appendTo
							li Sporadic Tweeter @A_Robson
							li Swirling Vortex of Code http://github.com/arobson
							li Infrequently blogs at:
							ul
								li 
									a(href='http://sharplearningcurve.com') sharplearningcurve.com
								li 
									a(href='http://freshbrewedcode.com/alex') freshbrewedcode.com/alex
					section
						h1 Epic AppendTo Shirt
						h3 Awarded for the best question or insight in my talk
						img(src='/images/shirt.jpg', height="300px")
						br
						br
						h3 Joel Glovier Not Included
