				section
					h1 An Introduction To Hypermedia APIs
					h3 HTTP ALL THE THINGS
					script
						if( navigator.userAgent.match( /(iPhone|iPad|iPod|Android)/i ) ) document.write( '<p style="color: rgba(0,0,0,0.3); text-shadow: none;">('+'Tap to navigate'+')</p>' );