				section
					section 
						h1 The REST Elephant
						h2.fragment This Is Not About REST
						h3.fragment REST is a style of Hypermedia API
						h3.fragment So many of the same benefits exist
						h4.fragment But this talk is not about REST
					section
						h1 Acknowledgements
						h2.fragment This Book
							br
							img(src="/images/hypermedia_book.jpg")
						br
						h3.fragment Is my primary source
					section
						h1 Goals
						ul
							li Understand what a Hypermedia API is
							li Learn about the benefits it provides
							li Break it down into components
							li Design one from scratch
					section
						h1 Common Terms
						ul
							li
								h3 Resource
								span - an identifiable entity
								h3 Representation
								span - the way properties of an entity are presented
								h3 Action / Transition
								span -
					section
						h1 HTTP Based APIs
						h3.normal Common characteristics
						ul
							li Stateless
							li Identifiable resources
							li State transition via representations
							li Uses self-describing messages
					section
						h1 HTTP Based APIs
						div.normal.fragment
							h3 Problem
							p Clients are tightly coupled to server implementation
							p such that the server cannot evolve independently
						br
						br
						div.normal.fragment
							h3 Solution
							p Provide metadata that defines the available states and
							p transitions that relate to each representation of state
					section
						h1 HATEOAS
						h3 Hypertext As The Engine Of Application State
						p The server provides a uniform interface to the clients
						p through hypermedia such that the coupling between
						p client and server is removed
					section
						h1 So What is Hypermedia?
						div.fragment
							h2 Application flow metadata 
							h2 combined with the representation of state