body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.throws {
	padding: 5px;
}

.throw {
	padding: 2px 6px 2px 2px;
}

.frame {
	padding-left: 15px;
	padding-right: 15px;
	border: black solid thin;
}