import './slides/head.jade'
import './slides/slide-1.jade'
import './slides/slide-2.jade'
import './slides/slide-3.jade'
import './slides/slide-4.jade'
import './slides/slide-5.jade'
import './slides/slide-6.jade'
import './slides/slide-7.jade'
import './slides/slide-8.jade'
import './slides/slide-9.jade'
import './slides/slide-10.jade'
import './slides/foot.jade'